 .main-bg {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    height: 800px;
    width: 1920px;
    margin: 0 auto;
}
.main-products {
    max-width: 1360px;
    margin: 0 auto;
}
.spn {
    color: orange;
}
.btn {
    border: 1px solid #FFC85E;
    cursor: pointer;
    padding: 7px;
    background: #FFC85E;
    border-radius: 80px;
}  
.back-to-main {
    display: none;
}
.add-cart {
cursor: pointer;
color: white;
border: 1px;
padding: 10px;
background: #FFC85E;
border-radius: 80px;
}

.item {
    box-shadow: rgba(0, 0, 0, 5%) 0px 5px 15px;
    max-width: 326px;
    padding: 50px;
    color: black;
    margin: 10px;
    h5{
        span{
            color: grey;
            margin: 5px;
        }
    }
 }
.item-h1 {
    font-size: 16px;
}
 .item-flx {
    h2{
        font-size: 14px;
        margin: 5px;
    }
    display: flex;
    align-items: center;
    img {
        margin: 10px;
    }
 }
 .grid-item{
     display: flex;
     flex-direction: column;
     color: white;
     padding: 50px;
 }
 .korzina {
     display: none;
     color: white;
     width: 1360px;
    margin: 0 auto;
 }
 .korzina-h1 {
    padding: 50px;
    color: black;
 }
 .cart {
    border: none;
    cursor: pointer;
    background-color: transparent;
 }
 .block1 {
     margin: 5px;
     display: flex;
     align-items: flex-end;
 }
 .block2 {
     margin: 5px;
     display: flex;
     align-items: flex-end;
 }

.myBtn {
    background: none;
    border: none;
}
.main-title {
    background: linear-gradient(89.86deg, #8A94AB 0.13%, rgba(138, 148, 171, 0) 99.89%);
    backdrop-filter: blur(4.5px);
    h1{
    max-width: 570px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #FFFFFF;
    }
    h2{
    margin-top: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;

    }
}
.mainbtn {
    margin-top: 50px;
    max-width: 250px;
    border: 1px solid #FFC85E;
    padding: 25px;
    background: #FFC85E;
    border-radius: 80px;
}
.main-sentence {
    display: flex;
    margin-top: 50px;
}
.main-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    }
    img{    
        height: 39px;
        margin: 10px;
    }
}
@media (max-width: 320px) 
{
    .korzina {
    display: flex;
    flex-direction: column;
    width: auto;
    }
    .main-container {
        margin: 0;
        padding: 0;
    }
    .main-products {
        margin-top: 86px;
    }
    .main-bg {
        background-image: url(./images/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: auto ;
        height: auto
    }
    .container {
        max-width: 320px;
        margin: 0;
    }

    .main-sentence {
        position: absolute;
        top: 21%;
    }
    .main-title {
    margin-top: 50px;
    width: 200px;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(89.86deg, #8A94AB 0.13%, rgba(138, 148, 171, 0) 99.89%);
    backdrop-filter: blur(4.5px);
    h1{
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 110%;
            color: #FFFFFF;
        }
        h2{
            font-family: "Inter";
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 110%;
            color: #FFFFFF;
        }
    }

    .main-box h1 {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 150%;
        color: black;
    }

}

.map320 {
    display: none;
}


