* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body h1, body h2, body h3, body h4, body h5, body h5, body p, body a {
  font-family: "Inter";
}

.container {
  max-width: 1367px;
  margin: 0 auto;
}

.nav-list a {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
}

.nav-1box {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.nav_1block {
  align-items: center;
  display: flex;
}
.nav_1block h1 {
  font-size: 14px;
}
.nav_1block h1 p {
  font-size: 14px;
  color: #3F4E65;
}

.nav_2block {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.nav_2block div {
  margin-left: 10px;
}
.nav_2block h1 {
  font-size: 14px;
}
.nav_2block p {
  font-size: 14;
  color: #3F4E65;
}

.nav-list {
  display: flex;
}
.nav-list a {
  margin-left: 50px;
  text-decoration: none;
  color: black;
}

.nav-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-rtl {
  padding: 15px;
  background: #EDEDED;
  background: url("https://img.alltor.me/img/2022-09/22/sv9gprf549yc1syir9z3mave0.png") no-repeat right;
  background-size: 35px;
  width: 150px;
  border-radius: 50px;
  border-color: #EDEDED;
}

.nav-box3 {
  background-color: #EDEDED;
  border-radius: 50px;
}

.nav-box1 {
  display: flex;
  align-items: center;
}
.nav-box1 h1 {
  margin-left: 20px;
  color: #3F4E65;
}

.nav-box2_catalog {
  display: flex;
  align-items: center;
  border: 1px solid orange;
  border-radius: 50px;
  padding: 15px;
  background-color: orange;
}
.nav-box2_catalog .bx2-img {
  margin-left: 15px;
  height: 20px;
}
.nav-box2_catalog .bx2-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.nv_bx4 {
  display: flex;
  flex-direction: column;
}
.nv_bx4 .bx4-h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #111111;
}
.nv_bx4 .bx4-h5 {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
}
.nv_bx4 .bx4-h6 {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #3F4E65;
}

.cart {
  padding: 8px;
}

.korzina {
  display: none;
}

.nav-box4 {
  display: flex;
  align-items: center;
}

.nav-box5 {
  display: flex;
  border: 1px solid orange;
  border-radius: 50px;
  padding: 15px;
  background-color: orange;
}
.nav-box5 .bx5-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.bx5-img {
  margin-left: 10px;
}

.nav-box6 {
  display: flex;
  align-items: center;
}

.nv_bx6 {
  display: flex;
}

.bx6 {
  font-size: 12px;
  color: #3F4E65;
}

.bx6-2 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #111111;
}

#ellipse {
  position: absolute;
  margin-top: -11px;
  margin-left: -38px;
}

#korzina {
  margin-right: 25px;
}

.burger-menu {
  display: none;
}

.catalog2 {
  display: none;
}

.search {
  display: none;
}

@media (max-width: 320px) {
  .nav-boxes {
    padding: 20px 20px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .nav-1box {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .dpn {
    display: none;
  }
  .catalog2 {
    display: flex;
    align-items: center;
  }
  .catalog2 h1 {
    margin: 5px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #3F4E65;
  }
  .search {
    display: flex;
    align-items: center;
  }
  .search h1 {
    margin: 5px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #3F4E65;
  }
  .nav-media2 {
    display: flex;
    justify-content: space-around;
  }
  .nav-box1 h1 {
    margin-left: 7px;
    color: #3F4E65;
    font-size: 15px;
  }
}
.main-bg {
  background-image: url(./images/bg.png);
  background-repeat: no-repeat;
  height: 800px;
  width: 1920px;
  margin: 0 auto;
}

.main-products {
  max-width: 1360px;
  margin: 0 auto;
}

.spn {
  color: orange;
}

.btn {
  border: 1px solid #FFC85E;
  cursor: pointer;
  padding: 7px;
  background: #FFC85E;
  border-radius: 80px;
}

.back-to-main {
  display: none;
}

.add-cart {
  cursor: pointer;
  color: white;
  border: 1px;
  padding: 10px;
  background: #FFC85E;
  border-radius: 80px;
}

.item {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;
  max-width: 326px;
  padding: 50px;
  color: black;
  margin: 10px;
}
.item h5 span {
  color: grey;
  margin: 5px;
}

.item-h1 {
  font-size: 16px;
}

.item-flx {
  display: flex;
  align-items: center;
}
.item-flx h2 {
  font-size: 14px;
  margin: 5px;
}
.item-flx img {
  margin: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 50px;
}

.korzina {
  display: none;
  color: white;
  width: 1360px;
  margin: 0 auto;
}

.korzina-h1 {
  padding: 50px;
  color: black;
}

.cart {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.block1 {
  margin: 5px;
  display: flex;
  align-items: flex-end;
}

.block2 {
  margin: 5px;
  display: flex;
  align-items: flex-end;
}

.myBtn {
  background: none;
  border: none;
}

.main-title {
  background: linear-gradient(89.86deg, #8A94AB 0.13%, rgba(138, 148, 171, 0) 99.89%);
  -webkit-backdrop-filter: blur(4.5px);
          backdrop-filter: blur(4.5px);
}
.main-title h1 {
  max-width: 570px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  color: #FFFFFF;
}
.main-title h2 {
  margin-top: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.mainbtn {
  margin-top: 50px;
  max-width: 250px;
  border: 1px solid #FFC85E;
  padding: 25px;
  background: #FFC85E;
  border-radius: 80px;
}

.main-sentence {
  display: flex;
  margin-top: 50px;
}

.main-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-box h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
.main-box img {
  height: 39px;
  margin: 10px;
}

@media (max-width: 320px) {
  .korzina {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .main-container {
    margin: 0;
    padding: 0;
  }
  .main-products {
    margin-top: 86px;
  }
  .main-bg {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
  }
  .container {
    max-width: 320px;
    margin: 0;
  }
  .main-sentence {
    position: absolute;
    top: 21%;
  }
  .main-title {
    margin-top: 50px;
    width: 200px;
    justify-content: center;
    margin: 0 auto;
    background: linear-gradient(89.86deg, #8A94AB 0.13%, rgba(138, 148, 171, 0) 99.89%);
    -webkit-backdrop-filter: blur(4.5px);
            backdrop-filter: blur(4.5px);
  }
  .main-title h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 110%;
    color: #FFFFFF;
  }
  .main-title h2 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 110%;
    color: #FFFFFF;
  }
  .main-box h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    color: black;
  }
}
.map320 {
  display: none;
}

.grid-items {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 50px;
}

.korzina {
  display: none;
  color: white;
}

.block1 {
  margin: 5px;
  display: flex;
}

.block2 {
  margin: 5px;
  display: flex;
}

.products {
  display: flex;
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.girl {
  background-image: url(./images/girl.png);
  width: 1432px;
  height: 500px;
  background-repeat: no-repeat;
}

.girl-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.girl-title, .girl-text, .girl-p {
  margin: 30px;
}

.girlbtn {
  cursor: pointer;
  background-color: orange;
  border-radius: 50px;
  border: 1px solid orange;
  padding: 8px;
  margin: 40px;
}

.product-h1 {
  font-size: 15px;
  color: black;
}

.map {
  background-image: url(./images/map.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  background-size: auto;
}

.map-container {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 8px;
}

.best-products-icons {
  display: flex;
}

@media (max-width: 320px) {
  .grid-item {
    padding: 0%;
    margin-top: 50px;
  }
  .block2 {
    display: none;
  }
  .block1 {
    display: flex;
    flex-direction: column;
  }
  .girl {
    background-image: url(./images/girl-bg2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: -webkit-fill-available;
    height: 200px;
    margin: 0;
    margin-left: -25px;
    margin-top: 20px;
  }
  .girl-container {
    display: block;
    margin: 35px;
  }
  .girl-text {
    margin-left: 50px;
    font-size: 10px;
    margin: 15px;
  }
  .girl-title {
    font-size: 10px;
    margin-left: 50px;
    margin: 15px;
  }
  .girl-p {
    font-size: 10px;
    margin-left: 50px;
    margin: 15px;
  }
  .girl-btn {
    margin: 15px;
    margin-left: 50px;
    margin: 15px;
    margin-top: -50px;
  }
  .girl-btn .girlbtn {
    background-color: orange;
    border-radius: 50px;
    border: 1px solid orange;
  }
  .girl-btn .girl-title, .girl-btn .girl-text, .girl-btn .girl-p {
    margin: 14px;
  }
  .product-itemnone {
    display: none;
  }
  .best-products-icons {
    overflow-y: scroll;
    overflow-x: none;
    width: 270px;
  }
  .map-adress {
    display: none;
  }
  .map-title {
    display: none;
  }
  .sales-department {
    display: none;
  }
  .texplayer-data {
    display: none;
  }
}
.footer {
  background-color: #3F4E65;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div1 {
  display: flex;
  flex-direction: column;
}
.div1 .dv1-p {
  max-width: 320px;
  color: white;
}

.div2 li {
  list-style: none;
  color: white;
}

.div3 li {
  list-style: none;
  color: white;
}

.div4 {
  display: flex;
  flex-direction: column;
}
.div4 li {
  list-style: none;
}

.dv4-f {
  display: flex;
}
.dv4-f h1 {
  font-size: 14px;
  color: white;
}

.dv4-p {
  color: white;
}

.price {
  display: flex;
  align-items: center;
}
.price h1 {
  border: 1px solid orange;
  border-radius: 50px;
  padding: 10px;
  background-color: orange;
  font-size: 14px;
  color: white;
}
.price img {
  margin-left: 10px;
}

.div5 li {
  list-style: none;
  color: white;
}

.div1-btn {
  border: 1px solid orange;
  border-radius: 50px;
  padding: 10px;
  background-color: orange;
  font-size: 14px;
  color: white;
}
.div1-btn a {
  text-decoration: none;
  color: white;
}

.price320 {
  display: none;
}

.sltnz {
  display: none;
}

@media (max-width: 320px) {
  .sltnz {
    display: none;
  }
  .sltn {
    max-width: 97px;
    height: 47px;
    display: flex;
  }
  .price320 {
    display: flex;
    align-items: center;
    margin: 8px;
  }
  .price320 h1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border: 1px solid orange;
    border-radius: 50px;
    padding: 0px 0px 9px 0px;
    background-color: orange;
    font-size: 10px;
    color: white;
  }
  .price320 img {
    margin-left: 10px;
  }
  .price {
    display: none;
  }
  .price-flx {
    display: flex;
    justify-content: space-around;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .slt-hd {
    display: block;
  }
  .sltnz {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */